.carousel {
  display: inline-block;   /* CRÍTICO */
  position: relative;
  margin: 40px auto;
  background: transparent;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease;
}

.slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  max-width: 100%;
  max-height: 80vh;
  height: auto;
  width: auto;
  object-fit: contain;
  display: block;
}
