* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
}

.carousel {
  width: 600px;
  height: 400px;
  margin: 40px auto;
  position: relative;
  overflow: hidden;
  background: black;
}

.carousel-track {
  display: flex;
  height: 100%;
  transition: transform 0.4s ease;
}

.carousel-track img {
  width: 600px;
  height: 400px;
  object-fit: cover;
  flex-shrink: 0;
}

/* FAIXAS LATERAIS */
.carousel button {
  position: absolute;
  top: 0;
  width: 70px;
  height: 100%;
  background: rgba(0,0,0,0.03);
  color: white;
  border: none;
  font-size: 48px;
  font-weight: 300;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.35;
  transition: background 0.3s, opacity 0.3s;
}

.carousel .prev {
  left: 0;
}

.carousel .next {
  right: 0;
}

.carousel button:hover {
  background: rgba(0,0,0,0.15);
  opacity: 1;
}
